{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/animations/animations.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive/responsive.css' %}">
        <title>{% block title %} Guest {% endblock %}</title>
    </head>
    <body>
    {% block content %}
        {% include 'hostel_main/header.html' %}
        <div class="quest dash">

            <!--Add background images-->
            <div class="welcome">
                <img src="{% static 'images/front-line.jpg' %}" alt="background image">
                <div class="text-overlay">
                    <h1>Welcome, Guest</h1>
                    <h2>Discover Your Perfect Stay</h2>
                    <p>Hey you! join us and let's help your discover the perfect accomadation that meets your every need,
                       because we have the most <em>luxurious, affordable, and amenities packed</em>rooms guaranteed to give you a
                       memorable stay.
                    </p>
                    <a href="#" class="button-anime">Explore</a>
                </div>
            </div>

            <!--Add more interesting and engaging texts to the 'p' element inside this 'intro-text' div class-->
            <div class="intro-text">
                <p>Explore our hostels and find the perfect location and rooms
                   that fits your taste for your next adventure.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Nulla maximus elit id risus commodo, eget ullamcorper nisi consectetur. Nunc non eros id turpis
                   tincidunt vestibulum eu vel nisi. Fusce rhoncus fermentum lacinia. Cras ac pharetra est. Vestibulum
                   ac est vel mi finibus consectetur in a metus. Duis nec facilisis turpis, a volutpat justo. Sed eu 
                   tincidunt urna. Integer pharetra ex vel tristique efficitur. Vestibulum pharetra cursus eros nec
                   faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                   egestas. Phasellus finibus commodo consectetur.
                </p>
            </div>

            <!--Create cards inside this 'hostels' div class with hostel name in the card head, image in the card content,
            and a 'more detail' button animated link in the card footer. Add enough cards to make them 
            horizontally scrollable-->
            <div class="hostels">
                <h3>Luxury Hostels</h3>
                <!-- Add scrollable cards for hostels -->
                <div class="scrollable-cards-wrapper">
                    {% for hostel in hostels %}
                    <div class="scrollable-cards">
                        <div class='container-cards'>
                            <div class="card">
                                <div class="card-image">
                                    <a href="{{ hostel.image.url }}"> <img src="{% if hostel.image %}{{ hostel.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ hostel.name }} background image">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h4>{{ hostel.name }}</h4>
                                    <div class="hostel_description">
                                        <p>{{ hostel.description|linebreaks|truncatewords:6 }}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="button">More Details</a>
                                </div>
                            </div>                        
                        </div>                    
                    </div>
                    {% endfor %}
                </div>
                <a href="{% url 'hostel_main:home-guest-view' %}" class="button">Browse more Hostels</a>
            </div>

            <!--Create cards inside this 'rooms' div class with rooms preview detail having a room number in the card head, image in the card content,
            and a 'more detail' button animated link in the card footer. Add enough cards to make them 
            horizontally scrollable-->
            <div class="rooms">
                <h3>Luxury Rooms</h3>
                <div class="scrollable-cards-wrapper">
                    {% for room in rooms %}
                    <div class="scrollable-cards">
                        <div class="container-cards">
                            <div class="card">
                                <div class="card-image">
                                    <a href="{{ room.image.url }}"> <img src="{% if room.image %}{{ room.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="room image">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h4>room number {{ room.room_number }}</h4>
                                    <p>room available in {{ room.hostel.name }}</p>
                                    <P>room capacity {{ room.room_capacity }}</P>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="button">More Details</a>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    {% endfor %}
                </div>
                <a href="{% url 'hostel_main:home-guest-view' %}" class="button">Browse more Rooms</a>
            </div>

            <!--Populate the 'p' elements inside this 'testimonial' div class with random testimonials in
            content boxes-->
            <div class="testimonial">
                <h3>What people love and are saying about us</h3>
                <h6>These are some of the reasons people chose Us</h6>
                <div class="carousel">
                    <div class="testimonial-item">
                        <div class="customer-image">
                            <img src="{% static 'images/Avatar.png' %}" alt="Customer image">
                        </div>
                        <div class="customer-testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Fusce consequat aliquet turpis id tempus<br>
                               Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. <br>Fusce consequat aliquet turpis id tempus
                            </p>
                        </div>
                        <div class="customer-name">
                            <h4>John Doe</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="customer-image">
                            <img src="{% static 'images/Avatar.png' %}" alt="Customer 2">
                        </div>
                        <div class="customer-testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Fusce consequat aliquet turpis id tempus<br>
                               Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. <br>Fusce consequat aliquet turpis id tempus
                            </p>
                        </div>
                        <div class="customer-name">
                            <h4>Christian Erhijotah</h4>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="customer-image">
                            <img src="{% static 'images/Avatar.png' %}" alt="Customer 2">
                        </div>
                        <div class="customer-testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Fusce consequat aliquet turpis id tempus<br>
                               Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. Fusce consequat aliquet turpis id tempus
                            </p>
                        </div>
                        <div class="customer-name">
                            <h4>Essien</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {% include 'hostel_main/footer.html' %}

        <!--Javascript library-->
        <script src="{% static 'js\arrow-key_button_scroll.js' %}"></script>
    {% endblock %}
    </body>
</html>
