{% extends 'hostel_main/base.html' %}
{% load static %}

{% block title %} Resident Dashboard {% endblock %}
{% block content %}
    {% include 'hostel_main/accommodation/includes/res_header.html' %}

    <div class="resident dash">
        <h2>Welcome, {{ user.username }}!</h2>
    </div>

    <div class="hostels">
        <h3>Hostels</h3>
        <!-- Add scrollable cards for hostels -->
        <div class="scrollable-cards-wrapper">
            {% for hostel in hostels %}
            <div class="scrollable-cards">
                <div class='container-cards'>
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ hostel.image.url }}"> <img src="{% if hostel.image %}{{ hostel.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ hostel.name }} background image">
                            </a>
                        </div>
                        <div class="card-content">
                            <h4>{{ hostel.name }}</h4>
                            <div class="hostel_description">
                                <p>{{ hostel.description|truncatewords:6 }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'hostel_main:hostel-detail' hostel.id %}" class="button">Details</a>
                        </div>
                    </div>                        
                </div>                    
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'hostel_main:home-guest-view' %}" class="button">more</a>
    </div>

    <!--Create cards inside this 'rooms' div class with rooms preview detail having a room number in the card head, image in the card content,
    and a 'more detail' button animated link in the card footer. Add enough cards to make them 
    horizontally scrollable-->
    <div class="rooms">
        <h3>Rooms</h3>
        <div class="scrollable-cards-wrapper">
            {% for room in rooms %}
            <div class="scrollable-cards">
                <div class="container-cards">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ room.image.url }}"> <img src="{% if room.image %}{{ room.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="room image">
                            </a>
                        </div>
                        <div class="card-content">
                            <h4>room number {{ room.room_number }}</h4>
                            <p>room available in {{ room.hostel.name }}</p>
                            <P>room capacity {{ room.room_capacity }}</P>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="button">Details</a>
                        </div>
                    </div>
                </div>                    
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'hostel_main:home-guest-view' %}" class="button">more</a>
    </div>

    {% include 'hostel_main/accommodation/includes/footer.html' %}
{% endblock %}