{% extends 'hostel_main/base.html' %}
{% load static %}

{% block content %}
    <div class="signin">
        <div class="user signin form">
            <p>Already have an account? signin using this form.<br>
            Don't have an account? <a href="{url 'account:signup-view'}"> sign-up </a>
            </p>
            <form method="post">
                {% csrf_token %}
                {{ user_signin_form }}
                <button type="submit">Sign-in</button>
            </form>
        </div>
    </div>
{% endblock %}
