{% extends 'hostel_main/base.html' %}
{% load static %}

{% block content %}
    <div class="signup">
        <div class="user signup form">
            <p>Don't have an account? signup using this form.<br>Already have an 
            account <a href="{url 'account:signin-view'}"> sign-in </a> </p>
            <form action="{% url 'account:signup-view'}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value='Sign-up'>
            </form>
        </div>
    </div>
{% endblock %}
