body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

.admin.dash {
    padding: 20px;
}

.resident.dash {
    padding: 20px;
}

.signin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    margin-top: 120px;
    color: darkblue;
    overflow: hidden;
}

h3 {
    text-align: center;
}

.quest.dash {
    padding: 20px;
}

.header {
    padding: 40px;
    background-color: #f5f5f5;
    color: white;
    display: flex;
}

div#site-links {
    margin-left: auto;
}

div#logo {
    flex: 1;
}

div#logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
}

div#site-links a {
  text-decoration: none;
  padding: 8px;
}

.button {
    display: inline-block;
    background-color: #8bc34a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #689f38;
}

.footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 20px;
    color: darkblue;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

/* Newly import styles */
.welcome {
  position: relative;
  background-position: center;
  text-align: center;
  padding: 100px;
  color: #0ee90e;
  margin: 0;
  padding: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    padding: 20px;
    color: #fafafa; /* Text color */
    z-index: 1; /* Ensures the text overlay appears above the background image */
}

.text-overlay h1 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 16px;
    margin-bottom: 0;
}

.intro-text {
  text-align: center;
  color: #2196F3;
  background-color: #ffffff;
  margin-top: 10px;
  padding: inherit;
}

.hostels,
.rooms {
  text-align: center;
  margin-bottom: 50px;
}

.hostels h3,
.rooms h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2196F3;
}

.hostels .button,
.rooms .button {
  display: inline-block;
  background-color: #0069d9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: aquamarine;
  transition: background-color 0.3s ease;
}

.hostels .button:hover,
.rooms .button:hover {
  background-color: #555;
}

/* Scrollable card styles */
.scrollable-cards-wrapper {
  overflow-x: auto;  /* Enable horizontal scrolling */
  white-space: nowrap;  /* Prevent cards from wrapping to the next line */
  border: 1px skyblue ;
}

.scrollable-cards {
  display: inline-block;
  width: max-content;
  scroll-behavior: smooth;
  vertical-align: top;
}

.card {
  display: inline-block;  /* Display cards in a horizontal line */
  width: 300px;
  background-color: white;
  color: #0069d9;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Scroll card image styles */
.card-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Card styles */
.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.hostel_description {
  height: -webkit-fill-available;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to display */
  word-wrap: break-word;
}

.hostel_description p {
  color: #0069d9;
}

.button-anime {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  text-decoration: none;
  animation: buttonAnimation 2s linear infinite;
  background-color: #0ee90e;
  color:#f2f2f2;
  margin-top: 5px;
}

/* Testimonial styles */
.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.testimonial-item {
  flex: 0 0 auto;
  margin-right: 10px;
  scroll-snap-align: start;
}

.customer-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.customer-testimonial {
  margin: 10px 0;
}

.customer-name {
  font-weight: bold;
}

.testimonial {
  text-align: center;
  margin-bottom: 50px;
}

.testimonial h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonial p {
  margin: 10px 0;
  color: #0D47A1;
}
